<h1 id='forum_title'>Welcome to the UK Dota forum!</h1>

  <h3 id='new_topic_link'><%= link_to 'New Topic', new_topic_path %></h3>

<% @topics.each do |topic| %>
  <div id='topics'>
    <div id='each_topic'>
   <h2><%= topic.title %></h2>
   <p><%= topic.description %></p>
   <p>Created by: <%=topic.created_by %> <p>
   <%= link_to 'Show', topic %><br>
    <!-- <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </div>
  </div><br>
<% end %>


<br />



