<p id="notice"><%= notice %></p>
<% if @user.id == current_user.id %>
    <button id='show_profile'>Profile</button> | <button id='show_friends_list'>Friends</button>
  <%end%>
<div id='profile_page'>
  
  <div id='general_info'>
    <p class='general_info_specifics'>
      <%= image_tag @user.steam_image %>
    </p>
    <p class='general_info_specifics'>
      <b>Steam name:</b>
      <%= @user.steam_nickname %>
    </p>
    <p class='general_info_specifics'>
      <b>Steam Id:</b>
      <%= @user.steam_id %>
    </p>
    <div class='general_info_specifics'>
    <% if @user.id != current_user.id %>
    <button id='add_friend'>Add to friends</button>
    <button><%= link_to "Chat", chats_path(:id => @user.id, :name => @user.steam_nickname), :id => "chat" %></button>
    <%end%>

    <% if @user.id == current_user.id %>
      <%= link_to 'Edit Profile', edit_user_path(@user) %> 
    <% end %>
    </div>
    <select id="hidden_current_user_id">
      <option><%= current_user.id %></option>
    </select>
    <select id="hidden_user_id">
      <option><%= @user.id %></option>
    </select>
  </div>

 <div id='match_history'>
    <li><a href="http://www.dotabuff.com/matches/<%= @matchlist[0]["match_id"]%>">most recent game</a></li>
    <li><a href="http://www.dotabuff.com/matches/<%= @matchlist[1]["match_id"]%>">most recent game</a></li>
    <li><a href="http://www.dotabuff.com/matches/<%= @matchlist[2]["match_id"]%>">most recent game</a></li>
    <li><a href="http://www.dotabuff.com/matches/<%= @matchlist[3]["match_id"]%>">most recent game</a></li>
    <li><a href="http://www.dotabuff.com/matches/<%= @matchlist[4]["match_id"]%>">most recent game</a></li>

  </div> 

  
</div>

<div id='friends_list' class='friends_list_hidden'>
<h1>Friends List!</h1>
<% if current_user.user_connections %>
<% current_user.user_connections.each do |user| %>
  <% user %>
  <a href="/users/<%= user.user_2_id %>"><%= User.find(user.user_2_id).steam_nickname %></a>
 
<% end %>
<% end %>

<%= @user.matchlist %>

</div>
