<%= hidden_field_tag("chat", value = "chat")%>

<div class="form" id="new_note">
  <%= form_tag "", id: "post_chat" do |f|%>
    <%= hidden_field_tag("current_user", value = current_user.id) %>
    <%= hidden_field_tag("current_user_name", value = current_user.steam_nickname) %>
    <%= hidden_field_tag("this_user", value = params[:id]) %>
    <%= hidden_field_tag("this_user_name", value = params[:name]) %>
    <div class="field">
      <%= text_field_tag :message %>
    </div>
    <div class="actions">
      <%= submit_tag value = "Submit" %>
    </div>
  <% end %>
</div>
<div class="table">
  <table class="chat_table">
    <thead>
      <tr>
        <th>Sender</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody id='tbody'>
      <tr id='individual_message'></tr>
    </tbody>
  </table>
</div>


