<h1 id="feed_header">Dota 2 Reddit Feed</h1>
<div id="rss_feed">
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[0].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[0].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[1].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[1].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[2].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[2].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[3].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[3].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[4].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[4].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[5].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[5].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[6].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[6].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[7].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[7].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[8].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[8].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[8].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[8].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[9].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[9].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[10].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[10].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[11].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[11].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[12].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[12].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[13].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[13].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[14].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[14].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[15].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[15].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[16].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[16].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[17].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[17].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[18].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[18].url %>">link</a>
</p>
<p>
  <%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[19].title %><br>
  <a href="<%= @feed["http://www.reddit.com/r/Dota2.rss"].entries[19].url %>">link</a>
</p>

<div>
